[submodule "BlackThorn/vendor/spdlog"]
	path = BlackThorn/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BlackThorn/vendor/GLFW"]
	path = BlackThorn/vendor/GLFW
	url = https://github.com/Jordan-Blackett/glfw
